body {
    background-image: url("bookstore.png");
    background-size: cover;
}
.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.Header {
    background-color: rgb(207, 101, 101);
    border: solid cornflowerblue;
    color: rgb(250, 169, 139);
    text-align: center;
}
.footer {
    position:relative; /* Fixed/sticky position */
    bottom: 5px; /* Place the button at the bottom of the page */
    left: 932px; /* Place the button 30px from the right */
    margin-top: auto;
    // z-index: 99; /* Make sure it does not overlap */
    // background-color: rgb(207, 101, 101); /* Set a background color */
    // color: white; /* Text color */
    // border-radius: 10px; /* Rounded corners */
    // font-size: 10px; /* Increase font size */
}
// .footer {
//     background-color:gray;
//     color: white;
//     bottom: 20px
//     padding: 5px;
//     right: 30px;
//    margin-bottom:0;
//    position: fixed;
//    flex-grow: 1;
//   }
  #myBtn {
    position:fixed; /* Fixed/sticky position */
    bottom: 40px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    // z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    // outline: none; /* Remove outline */
    // background-color: rgb(207, 101, 101); /* Set a background color */
    // color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 10px; /* Rounded corners */
    // font-size: 10px; /* Increase font size */
  }
.UnderHeader1 {
    color: rgb(192, 28, 214);
    text-align: center;
}
.UnderHeader2 {
    color: rgb(18, 101, 41);
    text-align: center;
}
@mixin picturesetup {
    width: 60px;
    float: left;
    margin-top: 12px;
    margin-left: 15px;
    border-radius: 10px;
}
@mixin fivebookssetup {
    margin:auto;
    margin-top: 1cm;
    background-color: rgba(195, 194, 191, 0.899);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 30px;
    line-height: 100px;
    width: 650px;
    border: solid cornflowerblue;
}
.image {
    @include picturesetup()
}
.Book1{
    @include fivebookssetup()
}
.Book2{
    @include fivebookssetup()
}
.Book3{
    @include fivebookssetup()
}
.Book4{
    @include fivebookssetup()
}
.Book5{
    @include fivebookssetup()
}